{{ partial "top.html" . }}

<h1>{{ .Title }}</h1>

{{ partial "breadcrumbs.html" . }}

{{ .Content }}

<ul>
{{ range $.Site.Data.commits }}
    {{ range . }}
        <li>
            {{ dateFormat "2006-01-02" .created_at }}: <a href="https://gitlab.com/hsbxl/site/commit/{{ .id }}"><strong>{{ trim .message "\n" }}</strong></a> ({{ .author_name}})
        </li>
    {{ end }}
{{ end }}
</ul>

See <a href="https://gitlab.com/hsbxl/site/commits/master">https://gitlab.com/hsbxl/site/commits/master</a> for the complete list.