{{ partial "top.html" . }}

<h1>Agenda</h1>

<article>
    {{ if isset .Params "image"}}
    <img src="{{ .Site.BaseURL }}images/{{ .Params.image }}">
    {{ end }}

    <h2>Upcoming events</h2>
    <ul>
        {{ range $.Site.RegularPages.ByParam "startdate" }}
        {{ if or (eq .Type "events") (eq .Type "techtuesday") }}
        {{ if ge .Params.startdate (now.Format "2006-01-02") }}
        <li><a href="{{ .Permalink }}">{{ .Params.startdate | dateFormat "Mon 2 Jan 2006"}}: {{ .Params.linktitle }}</a></li>
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>

    <h2>Past events</h2>
    <ul>
        {{ range $.Site.RegularPages.ByParam "startdate" }}
        {{ if or (eq .Type "events") (eq .Type "techtuesday") }}
        {{ if le .Params.startdate (now.Format "2006-01-02") }}
        <li><a href="{{ .Permalink }}">{{ .Params.startdate | dateFormat "Mon 2 Jan 2006"}}: {{ .Params.linktitle }}</a></li>
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>

    {{ .Content }}
</article>

{{ if .IsPage }}
[<a href="{{ .Site.Params.giteditpath }}/{{ .File.Path }}">Edit this page</a>]
{{ end }}

{{ partial "bottom.html" . }}
