{{ partial "top.html" . }}

{{ if .IsPage }}
    <h1>{{ .Title }}</h1>
{{ end }}

{{ partial "breadcrumbs.html" . }}

{{ partial "share.html" . }}

<article>
    {{ if isset .Params "image"}}
        <img class="content_image" src="{{ .Site.BaseURL }}images/{{ .Params.image }}">
    {{ end }}
    {{ .Content }}
</article>

<div class="pad">Public pad: <a href="https://etherpad.openstack.org/p/techtuesday{{.File.BaseFileName}}">https://etherpad.openstack.org/p/techtuesday{{.File.BaseFileName}}</a> </div>

{{ if .IsPage }}
<div class="editpage">
<a href="{{ .Site.Params.giteditpath }}/{{ .File.Path }}">[Edit this page]</a>
</div>
{{ end }}


{{ partial "bottom.html" . }}
