<header>

	<nav class="sidebar-nav">
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		<a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
		{{ end }}
	</nav>

	<div class="h-wrap">
		{{ with .Site.Title }}
		<h1 class="title"><a href="{{ $.Site.BaseURL }}">{{ . }}</a></h1>
		{{ end }}
		<a class="menu-icon" title="Menu"><span class="lines"></span></a>
	</div>
</header>